
.slider1 .slick-prev {
    z-index: 1;
    top: 50%;
    left: 0;
}

.slider1 .slick-next {
    top: 50%;
    right: 0;
}

.slick-arrow {
    width: 50px;
    height: 50px;
}

/* Header */

.header {
    z-index: 3;
    display: flex;
    position: fixed;
    padding: 0 40px;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: #fff;
}

.header__menu--mobile,
.header__account--mobile,
img.logo-mobile {
    display: none;
}
img.logo {
    display: block;
    width: 90%;
    min-width: 90px;
}

.header__logo {
    align-items: center;
    justify-content: center;
    max-width: 160px;
    min-width: 126px;
}

.header__logo a {
    display: block;
}

.header__menu, .header__about, .header__logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__about {
    position: absolute;
    right: 40px;
}

.header__menu {
    height: 100%;
    list-style: none;
    align-items: center;
}

.header__menu-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__menu-link {
    display: inline-block;
    padding: 0 40px;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.header__menu-link:hover {
    color: var(--primary-color);
}

.header__menu-link:hover .header__menu-link--wrap::before {
    width: 100%;
}

.header__menu-link--wrap {
    position: relative;
}

.header__menu-link--wrap::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    background-color: var(--primary-color);
    transition: width ease-in 0.5s;
}

.header__about {
    align-items: center;
    justify-content: flex-end;
}

.header__about > a {
    text-decoration: none;
    margin: 8px;
    color: var(--text-color);
}

.header__about i {
    font-size: 24px;
}

.header__menu--mobile {
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__menu-mobile-list {
    margin: 0;
    padding: 0 30px;
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    width: 100vw;
    top: 100%;
    /* Dùng js thì bỏ 2 thuộc tính dưới */
    display: none;
    animation: fadeIn ease-in 0.4s;
}

/* dùng js thì không cần đoạn này */
.header__menu--mobile:hover .header__menu-mobile-list{
    display: block;
}

.header__menu-mobile-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.header__menu-mobile-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    color: var(--text-color) !important;
    font-weight: 600;
    font-size: 18px;
}
.header__menu-mobile-link .header__menu-mobile-icon {
    font-size: 14px;
}


/* slider */
.slider-wrap {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 465px;
    top: 74px;
    left: 0;
    right: 0;
}
.slider1__item{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 455px !important;
    background-color: #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
}

.slider1__item.item1 {
    background: url(./img/h1-slider-img-1-.jpg) no-repeat center / cover;
}
.slider1__item.item2 {
    background: url(./img/h1-slider-img-2-.jpg) no-repeat center / cover;
}


.slider1__item h3, .slider1__item h1, .slider1__item p {
    padding-top: 74px;
    color: var(--white-color);
}

.slider1__item h3 {
    font-family: Satisfy;
    font-size: 48px;
    font-weight: 100;
}

.slider1__item h1 {
    font-size: 120px;
}

.slider1__item p {
    text-align: center;
    width: 554px;
    font-size: 20px;
    line-height: 24px;
}
.slider1__sub-content {
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.slider1__form {
    z-index: 2;
    width: 86vw;
    height: 80px;
    background-color: var(--white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slider1__form {
    display: flex;
}

.slider1__form-row {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex: 2;
    border-right: 1px solid #eee;
}

.slider1__form-row i
 {
    font-size: 18px;
    opacity: 0.7;
}

.slier1__form-input {
    width: 85%;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
    height: 40px;
}

select.slier1__form-input, option {
    background-color: transparent;
    opacity: 0.7;
}


.slider1__form-row--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: var(--primary-color);
    flex: 1.3;
    border-right: none;
}

.slider1__form-row--btn:hover {
    background-color: var(--primary-color-hover);
}

/* Places */

.places__heading {
    padding: 0 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    height: 200px;
}
.places__heading-sub-title {
    margin-bottom: 40px;
    font-size: 34px;
    font-family: Satisfy;
    font-weight: 500;
    color: var(--primary-color);
}
.places__heading-main-title {
    margin-bottom: 40px;
    font-size: 65px;
    color: var(--text-color);
}
.places__heading-desc {
    opacity: 0.8;
    line-height: 24px;
    font-size: 18px;
}
.places {
    padding: 0 6%;
    background-color: #fff;
    height: auto;
}
.places__warp a {
    display: block;
}
.places__heading{
    height: 200px;
}
.col-item {
    margin-bottom: 20px;
}
.places__item {
    position: relative;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 253px;
    overflow: hidden;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.places__item img {
    width: 100%;
    height: 100%;
    transition: transform ease-in-out .5s;
}
.places__item:hover img {
    transform: scale(1.04);
}
.places__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.places__logo {
    display: block;
    width: 260px;
    height: 260px !important;
    border-radius: 50%;
}
.places__logo.places__item > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.places__logo-span {
    font-size: 52px;
    font-family: Satisfy;
    color: var(--white-color);
    font-weight: 100;
}
.places__item > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 5%;
    left: 20px;
    right: 20px;
}
.places__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.places__info-name, .places__price{
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
}
.places__info-rate {
    font-weight: 500;
    color: var(--white-color);
}
.place__info-rate--status {
    margin-right: 10px;
}
.places__info-name {
    margin-bottom: 10px;
}
.places__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.places__footer-img {
    margin-top: 32px;
    margin-bottom: 100px;
    display: block;
}

/* Examples places */
.ex__heading {
    background: url(./img/ex-heading.jpg) no-repeat center / cover ;
    /* height: 790px; */
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
}
.places__slider-heading-sub-title,
.ex__heading-sub-title {
    font-family: Satisfy;
    font-size: 40px;
    font-weight: 400;
}
.ex__heading-sub-title{
    margin-top: 120px;
}

.places__slider-heading-main-title,
.ex__heading-main-title {
    text-align: center;
    font-size: 64px;
    margin-top: 48px;
}
.places__slider-heading-desc,
.ex__heading-desc {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
    width: 40%;
}
.video__frame {
    margin-top: 50px;
    padding-bottom: 20px;
}

.ex__content {
    padding: 150px 10% 80px;
}
.ex__content-hint {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.ex__content-hint {
    height: 200px;
}
.content__hint-title {
    margin-top: 30px;
    opacity: 0.8;
}
.content__hint-desc {
    font-size: 15px;
    padding: 0 10%;
    line-height: 22px;
    margin-top: 20px;
    opacity: 0.7;
}
.content__hint-img {
    transition: transform ease-in-out 0.3s;
}
.content__hint-img:hover {
    transform: translateY(-8%);
}
.places__slider {
    background-color: #F8F8F8;
    height: 500px;
}

/* Places slider */
.places__slider-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.places__slider-heading-sub-title {
    margin-top: 100px;
}